<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Quizzes</title>
</head>
<body>
<h1>Add a Quiz</h1>

    <form action="/quiz/add" method="post">
        Quiz subject:
    <input type="text" name="subject"></input> <br>
        Number of questions:
    <input type="text" name="num_questions"></input> <br>
        Date of quiz:
    <input type="text" name="date"></input> <br>
    <input type="submit" value="Add Quiz"/>
    </form>
 <div><a href="/dashboard">Dashboard</a></div>

</body>
</html>